/* Reset CSS
 * --------------------------------------- */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

/* Custom CSS
 * --------------------------------------- */

body {
  font-family: arial, helvetica;
  color: #333;
  color: rgba(0, 0, 0, 0.5);
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 80px;
  font-family: 'Oswald', san-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 2em;
}

.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

.section {
  text-align: center;
}

/* Style for our header texts
  	* --------------------------------------- */

h1 {
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 99;
}

h3 {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.intro p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300;
}

/* Centered texts in each section
  	* --------------------------------------- */

.section {
  text-align: center;
}

.sec0-heading {
  font-size: 120px;
  font-family: 'Oswald', san-serif;
  color: #ffdcc0;
  text-align: center;
  padding: 40px 0;
  letter-spacing: 25px;
  z-index: 99;
}

/*  Preloader
  	* --------------------------------------- */



/*  Section One - Introduction
  	* --------------------------------------- */

.intro-emoji img {
  width: 70px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  display: none;
}

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  position: relative;
  top: 42vh;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* Section Two - Infographic One
  	* --------------------------------------- */

#section1 h2 {
  color: #ffd8b2;
}

#section1 .plant {
  width: 100%;
  height: 100%;
  position: absolute;
}

#mapdiv, #mapdiv2 {
  height: 600px;
  /* background: #ffb266; */
}

#legenddiv {
	width	: 700px;
  border: 2px dotted #c00;
  margin-top: 10px;
  position: relative;
}

.legend-p{
  float: left;
  text-align: left !important;
  margin-left: 40px !important;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: 11px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 25px;
	display: inline-block;
	margin: 5px 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}


.btn-2h {
	border-radius: 20px;
}

.btn-2h:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2h:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

#ranking {
  display: flex;
}

/* Section Three - Infographic Two
  	* --------------------------------------- */

    #section2 h2 {
      color: #ffffff;
      padding-bottom: 10px;
    }

    #radar {
      padding: 10px;
      height: 600px !important;
      width: 600px !important;
    }
    .radarchart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    #malnorished {
      color: rgba(255, 255, 255, 0.6);
      font-family: 'Oswald', sans-sans-serif;
      width: 400px;
      margin-left: 200px;
      text-align: center;
      vertical-align: middle;
      padding-top: 30px;
      font-size: 25px;
      margin-right: 0px;
    }
    #malnorished11 {
      margin-left: 190px;
      margin-bottom: 50px;
      width: 400px;
      font-size: 20px;
      padding-top: 0px;
      margin-right: 0px;
    }
    #malnorished11 i {
      margin: 0px 5px;
    }
    #malnorished11 #eleven {
      color: #fb6542;
    }
    #malnorishedpercent {
      color: rgba(255, 255, 255, 0.4);
      font-family: 'Open Sans', sans-sans-serif;
      width: 400px;
      margin-left: 200px;
      text-align: center;
      vertical-align: middle;
      font-size: 16px;
      margin-right: 0px;
    }

/* World spinning */
.pop815 {
  height: 150px;
  width: 600px;
  margin: 10px auto 20px auto;
}
.world {
	width: 130px;
	height: 130px;
	border-radius: 130px;
	background: #7BAECB;
	position: absolute;
  margin-top: 10px;
  margin-left: 40px;
	overflow:hidden;
}

.land {
	position: absolute;
	height:20px;
	background:#99CC99;
	border-radius: 150px;
}

.clouds {
	width: 150px;
	height: 150px;
	border-radius: 180px;
	position: absolute;
	overflow:hidden;
  margin-left: 30px;
}

.cloud {
	width:20px;
	height:10px;
	background:white;
	border-radius:20px;
}
.instructions {
  opacity: 0.6;
}


/* Section Four - Infographic Three
      	* --------------------------------------- */

#section3 h2 {
  color: #ffffff;
}
.WA{fill:#EFC18B; stroke:#EFC18B; stroke-width: 3px; stroke-opacity: 1;}
.NT{fill:#a7a7a7; stroke:#a7a7a7; stroke-width: 3px; stroke-opacity: 1;}
.NSW{fill:#EF9E3F; stroke:#EF9E3F; stroke-width: 3px; stroke-opacity: 1;}
.ACT{fill:#EFD7B9;stroke:#092147; stroke-miterlimit:10; stroke-width: 0px; stroke-opacity: 1; z-index: 2;}
.VIC{fill:#F29816; stroke: #F29816; stroke-width: 2px; stroke-opacity: 1;}
.TAS{fill:#EFD3B4; stroke:#EFD3B4; stroke-width: 3px; stroke-opacity: 1;}
.QLD{fill:#EFAA56; stroke:#EFAA56; stroke-width: 3px; stroke-opacity: 1;}
.SA{fill:#EFCA9A; stroke: #EFCA9A; stroke-width: 3px; stroke-opacity: 1;}

.WASolid{fill:#EFC18B; stroke:#EFC18B; stroke-width: 0px; stroke-opacity: 1; transition: 1s;}
.NSWSolid{fill:#EF9E3F; stroke:#EF9E3F; stroke-width: 0px; stroke-opacity: 1;}
.ACTSolid{fill:#EFD7B9;stroke:#092147; stroke-miterlimit:10; stroke-width: 0px; stroke-opacity: 1; z-index: 2;}
.VICSolid{fill:#F29816; stroke: #F29816; stroke-width: 0px; stroke-opacity: 1;}
.TASSolid{fill:#EFD3B4; stroke:#EFD3B4; stroke-width: 0px; stroke-opacity: 1;}
.QLDSolid{fill:#EFAA56; stroke:#EFAA56; stroke-width: 0px; stroke-opacity: 1;}
.SASolid{fill:#EFCA9A; stroke: #EFCA9A; stroke-width: 0px; stroke-opacity: 1;}


.ACT{fill:#EFD7B9;stroke:#092147;stroke-width:3;stroke-miterlimit:10; z-index: 2;}
.ACTLine{fill:none;stroke:#EFD7B9;stroke-width:25;stroke-miterlimit:10; transition: 2s;}
.NSWLine{fill:none;stroke:#EF9E3F;stroke-width:25;stroke-miterlimit:10;}
.st6{fill:none;stroke:#FFFFFF;stroke-width:15;stroke-miterlimit:10;}
.st7{fill:none;}
.VICLine{fill:none;stroke:#F29816;stroke-width:25;stroke-miterlimit:10;}
.TASLine{fill:none;stroke:#EFD3B4;stroke-width:25;stroke-miterlimit:10;}
.SALine{fill:none;stroke:#EFCA9A;stroke-width:25;stroke-miterlimit:10;}
.WALine{fill:none;stroke:#EFC18B;stroke-width:25;stroke-miterlimit:10;}
.QLDLine{fill:none;stroke:#EFAA56;stroke-width:25;stroke-miterlimit:10;}



.st5{fill:#BCBCBC;}
.st8{fill:#FFFFFF;}
.st9{font-family:'Oswald-Regular';}
.st10{font-size:150px;}
.st11{font-family:'OpenSans-Regular';}
.st12{font-size:80px;}


#calc {
  width: 50%;
}
#wastevis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wastecat{
  display: flex;
  flex-direction: row;
}
#wastecat div {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}
#wastecat div i{
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  padding-top: 10px;
  color: #69819e;
}
#wastecat div p{
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding-top: 5px;
  width: 170px;
  text-align: center;
}
#selectedstate {
  width: 100%;
  font-weight: bolder;
}
#wastevis div .smallfont {
  font-size: 11px;
  width: 100%;
  text-align: center;
}


/*bars */
.bar-chart {
  background: #002048;
  height: 2rem;
  margin-bottom: 2rem;
  border-radius: 50;
}
.bar-chart .bar-chart--inner {
  background: #333;
  height: 100%;
  display: block;
  margin-bottom: .1rem;
  position: relative;
  will-change: width;
}
.bar-chart .bar-chart--inner:after {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  width: 1rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.bar-chart[animated] .bar-chart--inner {
  transition: width 1.3s;
}
.bar-chart.primary .bar-chart--inner {
  background: #2d72ca;
  border-radius: 15px;
}
.bar-chart.secondary .bar-chart--inner {
  background: #ad1d1d;
  border-radius: 15px;
}
.bar-chart--text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.7;
}
.hungercost {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: left;
}
.popScale {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto;
}
.popScale div {
  width: 80px;
  height: 14px;
}
.popScale div p {
  color: #002048;
}
.popScale p {
  width: 80px;
  font-size: 11px;
  line-height: 14px;
  font-family: "OpenSans-Regular";
}
#pop3 {
  background-color: #edd3b7;
}
#pop60 {
  background-color: #eda55f;
}
#pop80 {
  background-color: #ef8800;
}

/* Section Five - Conclusion
          	* --------------------------------------- */

#section4 h2 {
  color:#ffdcc0;
}

.conc-head h2, .conc-head{
  padding: 40px;
}
.conc-head #number4 {
  color: orange;
}

.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.sectionClass p {
  width: 100%;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}

.sectiontitle h2 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101F2E;
}

.projectFactsWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#projectFacts .fullWidth {
  padding: 0;
}

.projectFactsWrap .item {
  width: 33.3333%;
  height: 100%;
  padding: 10px 0px;
  text-align: center;
}

.projectFactsWrap .item p.number {
  font-size: 100px;
  padding: 50px 0;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.projectFactsWrap .item p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.projectFactsWrap .item span {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}

.projectFactsWrap .item i {
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}

.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p {
  color: white;
}

.projectFactsWrap .item:hover span {
  background: white;
}

@media (max-width: 786px) {
  .projectFactsWrap .item {
    flex: 0 0 50%;
  }
}


/* Dot Navgigation
  	* --------------------------------------- */

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: none;
  border: 3px solid #fff;
}

#fp-nav ul li .fp-tooltip {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.anim path {
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* Introductrion SVG Animation
  	* --------------------------------------- */

.anim, .anim svg {
  position: absolute;
  /* width: 100%; */
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.anim path {
  stroke-width: 1.5;
  stroke-opacity: 0.08;
  /* animation: dash 15s linear forwards; */
  -webkit-animation: dash 10s linear alternate infinite; /* Chrome, Safari, Opera */
 animation: dash 10s linear alternate infinite;
}

/* Timer */
